.ActiveQRBackground {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.activeQRfondo {
  width: 101%;
  height: 101%;
  min-width: 1000px;
  position: absolute;
}
.createWalletBarraVertical {
  position: absolute;
  z-index: 99;
  width: 13%;
  right: 20px;
  top: 20px;
  width: 200px;
}

@media screen and (max-width: 768px) {
  .createWalletBarraVertical {
    display: none;
  }
}

.activeQRTime {
  position: absolute;
  z-index: 99;
  left: 20px;
  top: 20px;
  width: 140px;
  color: red !important;
}
.activeQRContent {
  position: absolute;
  z-index: 99;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}
.activeQRContenText {
  color: #f9ed32;
  font: 800;
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  top: 6px;
  font-size: 40px;
  font-weight: bold;
}
.activeQRContentParraf {
  color: #1b262c;
  font-weight: bold;
}
.ActiveQRButton {
  cursor: pointer;
}
.configureButton {
  width: 40%;
}
