
.ActiveQRBackground{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.activeQRfondo{
    width: 101%;
    position: absolute;
    top: -10px;
    left: -10px;
}
.createWalletBarraVertical{
    position: absolute;
    z-index: 99;
    width: 13%;
    right: 310px;
    top: 70px;
}
.activeQRTime{
    position: absolute;
    z-index: 99;
    left: 450px;
    top: 30px;
    width: 8%;
}
.activeQRContent{
    position: absolute;
    z-index: 99;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
}
.activeQRContenText{
    color: #F9ED32;
    font: 800;
    text-align: center;
    position: absolute;
    right: 0 ;
    left: 0;
    top: 6px;
    font-size: 40px;
    font-weight: bold;

}
.activeQRContentParraf{
    color: #1B262C;
    font-weight: bold;
}
.configureButton{
    width: 40%;
   
}