.createWalletBackground {
  width: 100vw;
  height: 100vh;
  min-height: 800px;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: rgba(252, 247, 242, 1);
}

.CreateWalletFondo {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 99;
  top: 0px;
}

@media screen and (max-width: 768px) {
  .createWalletBackground {
    min-height: auto;
  }
}

@media screen and (min-width: 1400px) {
  .CreateWalletFondo {
    width: 100%;

    height: auto;
  }
}

.createLogoPeronio {
  position: absolute;
  z-index: 100;
  width: 100px;
  left: 0px;
  right: 0px;
  top: 0px;
  margin: 0 auto;
  padding-top: 30px;
}

.ContainerButtons {
  position: relative;
  z-index: 1000;
  width: 330px;
  height: 120px;
  background-image: url("../images/CreateWallet/ContainerButton.svg");
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 300px;
}
.contentButtonText {
  color: #ffff;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 26px;
  margin-top: 20px;
  margin-bottom: 10px;
}
.contentButtonTextCapture {
  width: 100%;
  margin: 0 auto;
  height: 67px;
  border: 2px solid #fdcc9f;
  background: rgba(255, 246, 238, 1);
  font-size: 23px;
  padding: 0px;
  font-weight: bold;
  letter-spacing: -0.5px;
  color: #0b4d76;
  font-family: "Roboto", sans-serif;
}

.contentButton {
  position: absolute;
  z-index: 100;
  background-image: url("../images/CreateWallet/ContainerButtonClick.svg");
  background-repeat: no-repeat;
  background-position: top center;
  height: 100px;
  width: 250px;
  margin: 0 auto;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  color: white;
  font-size: 40px;
  padding-bottom: 30px;
  cursor: pointer;
  font-family: "Abril Fatface", cursive;
}

@media screen and (min-width: 1600px) {
  .CreateWalletFondo {
    width: 100%;

    height: auto;
  }
}

.createWalletTime {
  position: absolute;
  z-index: 99;
  left: 20px;
  top: 0px;
  width: 145px;
}
.createWalletBarra {
  position: absolute;
  z-index: 99;
  width: 250px;
  right: 0;
  top: 0px;
  padding-top: 50px;
}

.createWalletCartel {
  width: 60%;
}

.createWalletBUTTONS {
  width: 200px;
  position: absolute;
  top: 33px;
}

.createWalletButton {
  position: absolute;
  z-index: 99;
  width: 150px;
  cursor: pointer;
}

.createWalletContainer {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 30px;

  margin: auto;
  z-index: 1000;
}
.createWalletContainer {
  width: 100%;
  max-width: 1000px;
  position: absolute;
  top: 30px;

  margin: auto;
  z-index: 1000;
}

@media screen and (max-width: 768px) {
  .createWalletBarra {
    display: none;
  }

  .createWalletContainer {
    position: absolute;
    top: 5px;
  }
  .createWalletTime {
    left: 5px;
  }

  .ContainerButtons {
    margin-bottom: 250px;
  }
}
