.DownloadAppBackgorund {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}
.DownloadAppFondo {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99;
}
/* .contentLogo{
    display: flex;
    justify-content: center;
    align-items: center;

} */

.downloadContainer {
  position: absolute;
  top: 0px;
  z-index: 100;
  width: 100%;
  display: flex;
  justify-content: space-around;
  padding-top: 20px;
}
.navIconReloj {
  height: 150px;
}
.navIconLogo {
  height: 50px;
}
.DownloadContent {
  position: relative;
  z-index: 100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.DownloadBarcode {
  width: 50%;
}

.downloadButton {
  width: 50%;
}

.contentBarra {
  position: absolute;
  z-index: 100;
  bottom: 40px;
  background-color: #ed3432;
  height: 15px;
  width: 90%;
  max-width: 500px;
  border: 1px solid red;
  border-radius: 10px;
}
.ContentInnerBara {
  position: absolute;
  z-index: 110;
  height: 15px;
  width: 35%;
  background-color: #1b262c;
  border-radius: 10px;
}

.circleOfBarra {
  position: absolute;
  z-index: 120;
  height: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.downloadCircleBlack {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #1b262c;
  border: 2px solid #f0dd0e;
}

.downloadCircle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #f0dd0e;
}

.downloadText {
  color: #fcf7f2;
  font-size: 14px;
  margin-left: 25px;
  margin-top: 26px;
}

.downloadCar2 {
  position: absolute;
  z-index: 160;
  bottom: -10px;
  left: -50px;
  width: 150px;
}
