.finishWalletBackground {
  width: 100vw;
  min-height: 800px;
  height: 100vh;
  background: rgba(252, 247, 242, 1);
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.FinishWalletFondo {
  height: 100%;
  width: auto;
  position: absolute;
  z-index: 99;
  top: 0px;
}

@media screen and (max-width: 768px) {
  .finishWalletBackground {
    min-height: auto;
  }
}

@media screen and (min-width: 1600px) {
  .FinishWalletFondo {
    width: 100%;

    height: auto;
  }
}

.finishSunContainer {
  width: 300px;
  height: 300px;
  margin-top: 1px;
}
.finishWalletContent {
  position: absolute;
  top: 30px;
  z-index: 100;
  text-align: center;

  padding-top: 120px;
}
.finishWalletContentText {
  position: absolute;
  font-size: 40px;
  padding-top: 40px;
  font-weight: bold;
  color: #00b7c2;
  font-family: "Abril Fatface", cursive;
  margin: 0 auto;
  left: 0;
  right: 0;
}

.finishWalletContentTitle {
  font-size: 40px;
  position: relative;
  color: #00b7c2;
  line-height: 30px;
  font-family: "Abril Fatface", cursive;
  width: 100%;
  max-width: 450px;

  right: 0;
  left: 0;
  margin: auto;
  bottom: 40px;
}
@media screen and (max-width: 600px) {
  .finishWalletContentTitle {
    max-width: 300px;
  }
}
.finishWalletContentButton {
  background: #00b7c2;
  width: 200px;
  margin: 0 auto;
  height: 50px;
  line-height: 50px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 100;
}

.FinisWalletInnerBara {
  position: absolute;
  z-index: 110;
  height: 15px;
  width: 100%;
  background-color: #1b262c;
  border-radius: 10px;
}
.FinishWalletCircleBlack {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background: #1b262c;
  border: 4px solid #f0dd0e;
}
.finishWalletFooterText {
  color: #00b7c2;
  font-size: 14px;
  position: absolute;
  right: -70px;

  margin-top: 26px;
  font-weight: bold;
}

.counterTextFinish {
  font-family: "Abril Fatface", cursive;
  width: 100%;
  height: 100%;
  display: flex;
  font-size: 60px;
  color: white;
  justify-content: center;
  align-items: center;
}

.cardFinish {
  position: absolute;

  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 150px;
}

.cardFinish .percent {
  position: relative;
}

.cardFinish svg {
  position: relative;
  width: 220px;
  height: 220px;
  margin-top: 105px;
  transform: rotate(-90deg);
}

.cardFinish svg circle {
  width: 100%;
  height: 100%;
  fill: none;
  stroke-width: 10;
  stroke-linecap: round;
  stroke: white;
}

.cardFinish svg circle:last-of-type {
  stroke-dasharray: 680px;
  stroke: #ec2929;
}

.finishWalletContent span {
  width: 5em;
  height: 5em;
  display: block;
  border-radius: 50%;
  background-color: green;
  border: 2px solid green;
  float: left;
  margin: 1em;

}

.piechart {
  position: absolute;
  bottom: 0px;
  top: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  bottom: -34px;
  display: block;
  width: 135px;
  height: 135px;
  border-radius: 50%;
  background-image: conic-gradient(#ec2929 270deg, transparent 0);
}

@media screen and (max-width: 600px) {
  .finishWalletContentTitle {
    max-width: 300px;
  }
  .piechart {

    bottom: -5px;
  
  }
}
