.mobileWelcomeContainer {
  height: 100vh;
  box-sizing: border-box;
  position: relative;
  width: 100vw;
  overflow: hidden;
  background: rgb(27, 38, 44);
}

.backgroundImageMobile {
  position: absolute;

  width: 100%;
}

.logoPeronioMobile {
  max-width: 361px;
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
}
.logoPeronioMobile {
  max-width: 361px;
  width: 50%;
  margin: 0 auto;
  padding-top: 40px;
}
.welcomeContainerMobile {
  width: 400px;
  height: 400px;
  position: relative;
  z-index: 99;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.containerMobile {
  position: relative;
  z-index: 101;
  text-align: center;
}
.welcomeMobileTitle {
  color: #fcf7f2;
  font-size: 35px;
  font-weight: bold;
  padding-top: 30px;
  font-family: "Abril Fatface", cursive;
}
.welcomeMobileContentGreeting {
  position: relative;
  display: flex;
  flex-direction: column;

  align-items: center;

  height: 70px;
}
.contentGreetingText {
  position: relative;
  margin: 0;
  color: #f9ed32;
  font-weight: bold;
  font-family: "Abril Fatface", cursive;
  font-size: 20px;
}
.mobileWelcomeBarraLateral {
  position: absolute;
  z-index: 120;
  width: 250px;
  top: -10px;
}

.WelcomeMobileButton {
  width: 40%;
  margin-top: 18px;
  cursor: pointer;
}
.titleButton {
  font-size: 20px;
  color: #fff;
  font-family: "Roboto", sans-serif;
  cursor: pointer;

  background: linear-gradient(#0b4d76, #000);
  border: 1px solid #0b4d76;

  position: relative;
  top: 20px;
}

.mobileWelcomeTextS p {
  margin: 0;
}
.mobileWelcomeTextS {
  margin: 10px 0px;
}

.contentMobileWelcome {
  background-image: url("../images/MobileWelcome/mobileWelcomeContent.svg");
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 680px;
  width: 80%;
  margin: 0 auto;
  position: relative;
  min-height: 600px;
  padding-top: 20px;
}
.contentTextMobile {
  position: relative;
  z-index: 50;
}

.FondoWelcomeMobile {
  width: 100%;
  position: absolute;
  top: 0px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.welcomePinkContent {
  background-image: url("../images/MobileWelcome/mobilePickContent.svg");
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 260px;
  width: 60%;
  height: 80px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mobileContainerButtons {
  background-image: url("../images/MobileWelcome/mobileContainerButton.svg");
  background-repeat: no-repeat;
  background-position: center center;
  max-width: 310px;
  width: 80%;
  height: 250px;

  margin: 0 auto;
}

.mobileWelcomePerson {
  position: absolute;
  bottom: 0px;
  top: 0px;
  margin: auto;
  left: 0px;
  max-width: 300px;
  width: 45%;
  padding-top: 285px;
}

.welcomeContainerTextWalletMobile {
  color: #ffffff;
  font-size: 18px;
  padding-left: 5px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.welcomeContainerTextSMobile {
  color: #fdcc9f;
  text-align: center;
  font-size: 18px;
  line-height: 23px;
  font-family: "Roboto";
  font-weight: 800;
  margin: 0px;
}

@media (max-width: 768px) {
  .welcomeContainerTextS {
    font-size: 18px;
    line-height: 20px;
  }
  .welcomeContainerTextWallet {
    font-size: 18px;
  }

  .mobileContainerButtons {
    height: 200px;
    margin-top: 40px;
  }
  /* .mobileWelcomePerson {
    left: -60px;
  } */
}
@media (max-width: 568px) {
  .backgroundImageMobile {
    height: 100%;
    width: auto;
  }
  .welcomePinkContent {
    height: 60px;
  }
  .welcomeMobileTitle {
    padding-top: 40px;
  }
  .welcomeContainerTextS {
    font-size: 12px;
    line-height: 14px;
  }
  .welcomeContainerTextWallet {
    font-size: 12px;
  }
  .welcomeMobileTitle {
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 60px;
  }
  .contentGreetingText {
    font-size: 14px;
  }
  .mobileWelcomeBarraLateral {
    width: 200px;
    margin-top: 4px;
  }

  .WelcomeMobileButton {
    width: 30%;
  }
  .mobileContainerButtons {
    height: 160px;
    margin-top: 30px;
  }

  .contentMobileWelcome {
    width: 95%;
  }

  .mobileWelcomePerson {
    position: absolute;
    bottom: 0px;
    top: 0px;
    margin: auto;
    left: 0px;
    max-width: 300px;
    width: 45%;
    padding-top: 280px;
  }
}
@media (max-width: 450px) {
  .mobileWelcomePerson {
    padding-top: 220px;
  }
}
