.welcomeBackground {
  position: relative;
  width: 100vw;
  height: 100vh;
  min-height: 600px;
  overflow: hidden;
  box-sizing: border-box;
  background-color: rgb(27, 38, 44);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.backgroundImage {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100%;
  box-sizing: border-box;
  z-index: 10;
}
.containerTitle-logo {
  position: absolute;
  z-index: 100;
  top: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}
.welcome {
  color: #fff;
  font-size: 35px;
  margin: 0;
  font-family: "Abril Fatface", cursive;
}
.logoPeronio {
  width: 45%;
  margin-top: 16px;
}
.welcomeSun {
  position: absolute;
  bottom: 0px;
  width: 30%;
  margin-right: 50px;
  width: 300px;
}
.welcomeContainer {
  position: relative;
  z-index: 99;
  display: flex;
  justify-content: center;
  max-width: 450px;
}
.welcomeContainerImage {
  width: 100%;
}

.welcomeButtonAction {
  position: absolute;

  z-index: 300;
  width: 380px;
  padding-top: 250px;
  margin: auto;
}
.welcomeButtonAction button {
  background: transparent;
  height: 50px;
  width: 50%;
  cursor: pointer;
  outline: none;
  position: relative;
  border: none;
}

.welcomeButtonAction button:focus {
  outline: none;
}
/* @media screen and (max-width: 660px) {
  .welcomeContainerImage {
    border: 1px solid red;
    width: 90%;
    max-width: 600px;
  }
} */
.welcomeImageSpikes {
  position: absolute;
  width: 80%;
  height: 68%;
  z-index: 110;
  top: 18px;
}
.container-text {
  position: absolute;
  margin-top: 19px;
  line-height: 19px;
}
.welcomeContainerText {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-family: "Abril Fatface", cursive;
}
.welcomeCircle {
  position: absolute;
  width: 70%;
  margin: 0 auto;
  right: 0;
  left: 0;
}
.welcomeContainerTime {
  color: #fff;
  font-size: 60px;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 600;
  font-family: "Abril Fatface", cursive;
}
.welcomeContainerTime span {
  color: #fff;
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
}

.welcomeContainerTextS {
  color: #fdcc9f;
  text-align: center;
  font-size: 13px;
  line-height: 15px;
  font-family: "Roboto";
  font-weight: 800;
}
.welcomeContainerTextWallet {
  color: #ffffff;
  font-size: 13px;
  font-weight: bold;
  font-family: "Roboto", sans-serif;
}

.welcomeContenButtons {
  position: absolute;
  width: 90%;
  height: 21%;
  bottom: 10px;
  padding: 3px;
  padding-right: 30px;
  z-index: 110;
}
.welcomeButtons {
  position: absolute;
  width: 90%;
  height: 20%;
  bottom: 6px;
  z-index: 110;
}
.welcomePeople {
  position: absolute;
  bottom: -10px;
  width: 300px;
  z-index: 100;
  margin-right: 30px;
}
